*.o
*.pyc
GeneratedFiles
.settings
.cproject
*.gcda
*.gcno
*.xcworkspace
xcuserdata
*.swp
.pydevproject
*.opensdf
*.sdf
*.sln
*.vcxproj*
*.idx
*_exec
lib/*.so
hpc/tags
doc/html
doc/latex
nbproject
*.db
.vscode/
build*/
compile_commands.json
.rsync_exclude
tags
